// Déclaration des variables pour les couleurs
$star-color : #ffca28;
$star-empty-color : #d3d3d3;
$primary-bg-line-color : #0074c7;
$secondary-bg-line-color : #82b864;
$background-color: #f1f8fc;
$succes-color : #155724;
$text-danger-color : red;

// Mixin pour les titres avec une ligne colorée
@mixin section-title($color) {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        width: 3rem;
        height: 0.6rem;
        background-color: $color;
    }
}

// Mixin pour les étoiles
@mixin star {
    #etoiles {
        text-align: center;
        margin-bottom: 10px;
        .star {
            font-size: 24px;
            color: $star-empty-color;
        }
        
        .star.filled {
            color: $star-color;
        }
    }
}

// Mixin pour le formulaire de contact
@mixin form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: end;

    .mb-3 {
        width: 100%;

        .form-label {
            font-weight: bold;
        }
    }
}

// Mixin pour la ligne à côté de la localisation, la spécialité et la section à propos
@mixin description {
    #localisation, #specialite, #apropos {
        position: relative;
        margin-left: 3rem;
    }
    
    #localisation::before, #specialite::before, #apropos::before {
    position: absolute;
    top: 0.7rem;
    left: -2rem;
    display: block;
    width: 1rem;
    height: .3rem;
    content: "";
    background: $primary-bg-line-color;
}
}

@media (max-width: 768px) {
    #ficheartisan {
        #artisan, #contact {
            margin: 10px;
        }

        @include star;

        #artisan {
            h2 {
                @include section-title($primary-bg-line-color)
            }
        
            @include description;
        }

        #contact {
            margin-top: 50px;
            h2 {
                @include section-title($secondary-bg-line-color)
            }

            form {
                @include form;
            }
        }   
    }

}



@media (min-width: 768px) {
    #ficheartisan {
        display: flex;
        flex-direction: row;

        #artisan, #contact {
            width: 50%;
            margin: 15px;
        }

        @include star;

        #artisan {
            h2 {
                @include section-title($primary-bg-line-color)
            }
        
            @include description;
        }

        #contact {
            h2 {
                @include section-title($secondary-bg-line-color)
            }
            
            form {
                @include form;
            }
        }   
    }
}

.alert {
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  
    &.alert-success {
      color: $succes-color;
      background-color: $background-color;
      border-color: $background-color;
    }
  }

  .text-danger {
    color: $text-danger-color;
    font-size: 0.875rem;
  }