<header>
    <app-header></app-header>
</header>
<main>
  <!-- Section fiche artisan -->
  <section id="ficheartisan">
    <article *ngIf="artisan" id="artisan" aria-labelledby="artisan-title">
      <header>
        <h2 id="artisan-title">{{ artisan.name }}</h2>
      </header>  
      <div id="etoiles" aria-label="Évaluation">
          <ng-container *ngFor="let filled of getStars(artisan.note)">
            <span [class.filled]="filled" class="star" aria-hidden="true">&#9733;</span>
          </ng-container>
      </div>
      <p id="specialite">Spécialité : {{ artisan.specialty }}</p>
      <p id="localisation">Localisation : {{ artisan.location }}</p>
      <p id="apropos">À propos : {{ artisan.about }}</p>
      <a *ngIf="artisan.website" [href]="artisan.website" target="_blank" [attr.aria-label]="'Visitez le site web de ' + artisan.name">Visitez le site web</a>
    </article>
    <div *ngIf="!artisan">
      <p>Chargement...</p>
    </div>

    <!-- Section formulaire de contact -->
    <section id="contact">
      <header>
        <h2>{{formtitle}}</h2>
      </header>
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" aria-labelledby="contact-form">
        <div class="mb-3">
          <label for="exampleInputName" class="form-label" id="Name">Nom</label> 
          <input type="nom" class="form-control" id="exampleInputName" placeholder="Nom" required ngModel name="name" #name="ngModel" aria-describedby="nameAttention">
          <div *ngIf="(name.invalid && (name.touched || hasError))" class="text-danger" id="nameAttention">
            Le nom est requis.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputObject" class="form-label" id="Objet">Objet</label>
          <input type="objet" class="form-control" id="exampleInputObject" placeholder="Objet" required ngModel name="subject" #subject="ngModel" aria-describedby="subjectAttention">
          <div *ngIf="(subject.invalid && (subject.touched || hasError))" class="text-danger" id="subjectAttention">
            L'objet est requis.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlMessage" class="form-label" id="Message">Message</label>
          <textarea class="form-control" id="exampleFormControlMessage" rows="3" placeholder="Votre message" required ngModel name="message" #message="ngModel" aria-describedby="messageAttention"></textarea>
          <div *ngIf="(message.invalid && (message.touched || hasError))" class="text-danger" id="messageAttention">
            Le message est requis.
          </div>
        </div>
        <button type="submit" class="btn" style="background-color: #0074c7; color: #f1f8fc;" aria-label="Envoyer le formulaire">Envoyer</button>
      </form>
      <div id="error-message" style="display: none;" role="alert">
        <p>Tous les champs doivent être remplis</p>
      </div>
      <div *ngIf="artisan">
        <div *ngIf="isSubmitted" class="alert alert-success mt-3" role="alert">
            <p>Votre message a bien été envoyé à l'email de {{ artisan.email }}.</p>
        </div>
      </div>
    </section>    
  </section>
</main>
<footer>
    <app-footer></app-footer>
</footer>