// Déclaration des variables pour les couleurs
$star-color : #ffca28;
$star-empty-color : #d3d3d3;
$border-color : #0074c7;


.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  .card-header, .card-body, .card-footer {
    text-align: center;
  }

  a {
    text-decoration: none;
        
    .custom-border {
      border: 2px solid $border-color;
      
      .rating {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
      }
      
      .rating .star {
        font-size: 24px;
        color: $star-empty-color;
      }
      
      .rating .star.filled {
        color: $star-color;
      }
    }
  }
}

#sectionbreadcrumb {
  a {
      text-decoration: none;
      color: $border-color;
  }
  
}






