<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>
    <app-header></app-header>
</header>
<main class="main">
    
    <!-- Section "Comment trouver mon artisan ?" -->
    <section id="utilisationsite" aria-labelledby="utilisationsite-title">
        <header id="titleline">
            <h2 id="utilisationsite-title">{{title}}</h2>
        </header>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" aria-label="Utilisation du site">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner"> 
                <article *ngFor="let etape of etapes; let i = index"  [ngClass]="{'carousel-item': true, 'active': i === 0}" data-bs-interval="10000">
                    <div class="carousel-caption d-none d-md-block">
                        <p id="number">{{etape.nombre}}</p>
                        <h3>{{etape.title}}</h3>
                        <p>{{etape.description}}</p>
                    </div>    
                </article>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" aria-label="Slide précédente">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" aria-label="Slide suivante"> 
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- Section artisans du mois -->
    <section id="artisansdumois" aria-labelledby="artisansdumois-title">
        <header>
            <h2 id="artisansdumois-title">{{artisansdumois}}</h2>
        </header>
        <div id="card" class="row row-cols-1 row-cols-md-3 g-4" aria-label="Artisans du mois">
            <article class="col" *ngFor="let artisan of topArtisans">
                <a [routerLink]="['/artisan', artisan.name]">
                    <div class="card custom-border mb-3"  style="max-width: 23rem;">
                        <header class="card-header" >
                            <h3>{{ artisan.name }}</h3>
                        </header>
                        <div class="card-body">
                            <p><strong>Sa spécialité : </strong>{{artisan.specialty}}</p>
                            <p><strong>Sa localisation : </strong>{{artisan.location}}</p>
                        </div>
                        <footer class="card-footer">
                            <ng-container *ngFor="let filled of getStars(artisan.note)">
                                <span [class.filled]="filled" class="star" aria-hidden="true">&#9733;</span>
                            </ng-container>
                        </footer>
                    </div>
                </a>
            </article>
        </div>
    </section>
</main>
<footer>
    <app-footer></app-footer>
</footer>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

